@import '@fontsource/fira-mono';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply text-darkViolet;
	}

	@font-face {
		font-family: 'Amplitude Wide';
		src: local('Amplitude-Wide'), local('amplitude-wide'),
			url('/fonts/amplitude-wide/amplitude-wide-regular.ttf');
		font-weight: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Amplitude Wide';
		src: local('Amplitude-Wide-Medium'), local('amplitude-wide-medium'),
			url('/fonts/amplitude-wide/amplitude-wide-medium.ttf');
		font-weight: medium;
		font-display: swap;
	}
	@font-face {
		font-family: 'Amplitude Wide Book';
		src: local('Amplitude-Wide-Book'), local('amplitude-wide-book'),
			url('/fonts/amplitude-wide-book/amplitude-wide-book.ttf');
		font-weight: normal;
		font-display: swap;
	}
}
